
# Ignore build directory
build/
# Ignore build like directory
build*/
# Ignore all files in the build directory
build/*

# Ignore tests build directory
tests/build/
tests/build*/

# Test binaries
tests/**/ndd_filter_test

# macOS debug symbols
*.dSYM/

# Sometimes data files are created for tetsing
data/
data/*

# VS Code directory
.vscode/

# DS Store
.DS_Store

# Endee Data
endee-data/

# Python Virtual Environments
venv/
env/
.env

# Python Caches
__pycache__/
*.pyc
